.Flights {
  border-collapse: collapse;
  margin: 50px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
}
.Flights thead tr {
  background-color: #003580;
  color: #ffffff;
  text-align: left;
}
.Flights th,
.Flights td {
    padding: 12px 15px;
}
.Flights tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Flights tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.Flights tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.Flights tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
